@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'clash';
    src: url('/font/ClashDisplay.ttf');
}

*{
    font-family: 'clash';
    /* border: 2px solid red; */
}

.btn{
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.btn:hover {
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 20.5%, #FF26B9 100%, #FE34B9 100%);
}

.bubblering{
  width: 60px;
  height: 60px;
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
  border: 10px solid #140D27; 

  ;
}
/* hero globe rotation */
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.globe{
    animation: rotate 10s linear infinite;
}

/* twinkling stars */
.twinkling-stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    z-index: 5;
  }
  
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #2757aa;
    animation: twinkling 2s infinite;
  }
  
  @keyframes twinkling {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }

   /*Keyframes for the dangling animation */
   @keyframes dangle {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
  }

  .dangling-picture {
    animation: dangle 2s ease-in-out infinite;
  }